<section id="avatar-upload-box">
    <form id="avatar-upload-form" asp-controller="Person" asp-action="Upload" method="POST" enctype="multipart/form-data">
        @*@Html.AntiForgeryToken()*@
        <input type="file" name="files" /><br>
        <div class="upload-file-notice">
            Maximum Size: <span id="avatar-max-size"></span> MB
        </div>
    </form>
    <div class="upload-progress col-md-6 hidden">
        <div class="upload-percent-value pull-left">0%</div>
        <div class="upload-percent-bar pull-left"></div>
    </div>
    <div id="upload-status"></div>
</section>
<section id="avatar-crop-box" class="hidden">
    <p>
        <img src="" id="crop-avatar-target" alt="Uploaded image" />
    </p>
    <p><button id="profile-image-save" class="btn btn-default">Save Avatar</button></p>
</section>
<div id="avatar-result" class="hidden">
    <img src="" alt="Final Image" />
</div>